@keyframes scale-animation {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes bounce-animation {
	0% {
		animation-timing-function: ease-in;
		opacity: 0.20;
		transform: translateY(-35px);
	}

	30% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-14px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}

.fade-in {
	-webkit-animation: fade-in 1.2s ease 2s 1 normal forwards;
	;
	animation: fade-in 1.2s ease 2s 1 normal forwards;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

/* scale out animation */
/* ------------------- */
.scale-out-center {
	-webkit-animation: scale-out-center 0.4s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	animation: scale-out-center 0.4s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes scale-out-center {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}

	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
		opacity: 1;
	}
}

@keyframes scale-out-center {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}

	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
		opacity: 1;
	}
}