* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

html {
    font-size: 62.5%
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

button {
    color: #303a49;
    width: 5rem;
    height: 5rem;
    padding: 0.6rem;
    border-radius: 0.26rem;
    background-color: #ffba70;
    border: 0.26rem solid #ffba70;
    transition: all 0.1s;
}

button:hover {
    background-color: #49c0ef;
    border: 0.26rem solid #49c0ef;
    cursor: pointer;
    animation-duration: 250ms;
    animation-name: scale-animation;
}

button:active {
    transform: scale(0.9);
    background-color: #49c0ef;
    border: 0.26rem solid #49c0ef;
    cursor: pointer;
    animation-duration: 250ms;
    animation-name: wobble-animation;
}

.text-field {
    width: 100%;
    max-width: 60%;
    height: 5rem;
    border: 0.26rem solid #49c0ef;
    padding: 0.6rem;
    border-radius: 0.26rem;
}

.text-field:focus {
    outline: 0.26rem solid #ffba70ba;
}

.main-wrapper {
    margin: 1% 5%;
    border-radius: .25rem;
    border-radius: 25px;
    background: #f6f6f6;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #c1d4e8;

}

/* Form Selectors */
.list-wrapper {
    padding: 10% 5%;
}

.list-item {
    min-width: 20%;
    padding: 2%;
    color: #101010a5;
    border: 0.26rem solid #2faeee;
    border-radius: 0.50rem;
    overflow: auto;
}

/* Heading Selectors */

.main-wrapper header {
    text-shadow: 2px 2px 1px rgba(69, 105, 123, 0.768);
    font-family: Shantell Sans;
    animation: bounce-animation 1.5s cubic-bezier(0.64, 0, 0.78, 0) 0s 1 normal none;
}

.main-wrapper header h1 {
    font-size: 12rem;
    color: #70D6FF;
}

.main-wrapper header h2 {
    font-size: 6rem;
    color: #ffba70;
    margin: -3rem 1rem 3rem;
}

/* flex module */

.flex-parent {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
    gap: 2em;
}